<div class="container edit-user">
	<div class="row">
		<div class="col s12 l6 white">
			<h4 class="grey-text center align">Reenviar instrucciones de confirmación</h4>

			<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
			  <%= devise_error_messages! %>

			  <div class="field">
			    <%= f.label :email %><br />
			    <%= f.email_field :email, autofocus: true %>
			  </div>

			  <div class="actions center-align">
			    <%= f.submit "Reenviar", class: "btn" %><br><br>
					<%= render "devise/shared/links" %>
			  </div>
			<% end %>

		</div>
	</div>
</div>


