<%= render 'shared/navigation' %>

<div class="container edit-user">
	<div class="row">
			<div class="col s12 l6 white">
				<h4 class="grey-text center-align">Editar mis datos</h4><br>
				<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
				  <%= devise_error_messages! %>

				  <div class="">
				    <%= f.label :name, 'Nombre' %><br />
				    <%= f.text_field :name, autofocus: true, required: true %>
				  </div>

				  <div class="">
				    <%= f.label :email %><br />
				    <%= f.email_field :email, required: true %>
				  </div>

				  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
				    <div>Actualmente esperando confirmación para: <%= resource.unconfirmed_email %></div>
				  <% end %>

				<!--   <div class="field">
				    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
				    <%= f.password_field :password, autocomplete: "off" %>
				  </div>

				  <div class="field">
				    <%= f.label :password_confirmation %><br />
				    <%= f.password_field :password_confirmation, autocomplete: "off" %>
				  </div> -->

				  <div class="">
				    <%= f.label :current_password, 'Contraseña' %> <i>(necesitamos tu contraseña actual para guardar los cambios)</i><br />
				    <%= f.password_field :current_password, autocomplete: "off", required: true %>
				  </div><br><br>

			    <%= f.submit "Guardar", class: "btn" %><br><br>
			    <div class="center-align">
					  <%= link_to "salir", destroy_user_session_path, method: :delete, class: "center-align" %><br>
			    </div>
				<% end %>

				<% unless current_user.is? :super or current_user.is? :admin %>
					<div class="center-align">
					  <h5>Cancelar mi cuenta</h5>

					  <p>No estas feliz? <%= link_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Estas seguro?" }, method: :delete %></p>
					</div>
				<% end %>

			</div>
	</div>
</div>


