<%= render 'shared/navigation' %>

<div class="container edit-user">
	<div class="row">
		<div class="col s12 l6 white">
			<h4 class="grey-text center-align">Registro de cuenta</h4><br>
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			  <%= devise_error_messages! %>

			  <div class="field">
			    <%= f.label :name, 'nombre' %><br />
			    <%= f.text_field :name, autofocus: true, required: true %>
			  </div>
			  <div class="field">
			    <%= f.label :email, 'email' %><br />
			    <%= f.email_field :email %>
			  </div>

			  <div class="field">
			    <%= f.label :password, 'contraseña' %>
			    <% if @validatable %>
			    <em>(<%= @minimum_password_length %> caracteres minimos)</em>
			    <% end %><br />
			    <%= f.password_field :password, autocomplete: "off" %>
			  </div>

			  <div class="field">
			    <%= f.label :password_confirmation, 'confirmar contraseña' %><br />
			    <%= f.password_field :password_confirmation, autocomplete: "off" %>
			  </div>

			  <div class="center-align">
			    <%= f.submit "registro", class: "btn" %><br><br>

					<%= render "devise/shared/links" %>
			  </div>
			<% end %>
		</div>
	</div>
</div>



