
<a href="https://www.facebook.com/sharer/sharer.php?u=<%= url %>" class="icon facebook tooltipped" target="_blank" data-position="bottom" data-tooltip="comparte en facebook"><%= image_tag 'face.svg' %></a>

<a href="https://twitter.com/intent/tweet?url=<%= url %>" class="icon twitter tooltipped" target="_blank" data-via="sotollantas" data-position="bottom" data-tooltip="comparte en twitter"><%= image_tag 'twitter.svg' %></a>


<% if user_signed_in? %>
	<div id="product_<%= product.id %>_likes" class="like-container icon">
		
		<%= render 'shared/like', product: product %>
		
	</div>
<% end %>



