<%= render 'shared/navigation' %>

<div class="container-2">
	<div class="row">
		
		<div class="col s12">
			<div class="col s12 head">
				<h5 class="b">Refacciones</h5>	
			</div>	
			<% @products.each do |product| %>
				<div class="col s12 m12 l6">
					<div class="d-1 <%= cycle('odd', 'even') %>">

						<div class="cont-tire hoverable">
								<div class="d-2">
									<% if product.brand %>
										<div class="brand">
											<%= link_to brand_search_path(product.brand.name) do %>
												<h4 class="y">
													<%= product.brand.name.upcase %>
												</h4>
											<% end %>
										</div>
									<% end %>
									<div class="title">
										<%= link_to show_product_url(product) do %>
											<h2>
												<%= product.title.upcase %>
											</h2>
										<% end %>
									</div>
									<div class="sizes">
										
									</div>

									<div class="p-s">
										<%= link_to show_product_url(product) do %>
											<p class="price">$<%= product.price  %></p>
										<% end %>
										<div class="social">
											<%= render 'social', url: show_product_url(product), product: product %>
										</div>
									</div>
								</div>
								<div class="d-tire">
										<%= link_to show_product_url(product) do %>
											<%= image_tag 'ref.jpg' %>
										<% end %>
								</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<%= will_paginate @products, page_links: true, class: "text-center will-paginate" %>
	
</div>