<%= render 'shared/navigation' %>


<% if @st %>
	<%= search_form_for(@st, html: {class: "form1"}) do |f| %>
	<% end %>
<% end %>


<% if @promos %>
	<div class="promos hide-on-small-only">
			<% @promos.each do |promo| %>
				<div class="promo">
					<% if promo.url? %>
						<a href="<%= promo.url %>">
							<%= image_tag promo.img.url() %>
						</a>
					<% else %>
						<%= image_tag promo.img.url() %>
					<% end %>
				</div>
			<% end %>
	</div>
<% end %>

<div class="container-2" id="search">
	<div class="search-container">
			<div class="row">
				<div class="col s12 l6 center">
					<div class="form-1">
						<h5 class="grey-text ">Buscar por</h5>
						<h3 class="">Vehículo</h3>
						<%= search_form_for(@st, url: search_result_path) do |f| %>

							<%= f.select(:cars_year_eq, 1960..(Date.today.year+1), {prompt: 'año'}, class: "grey-text") %>
							<%= f.collection_select :cars_car_brand_id_eq, CarBrand.all, :id, :name, {prompt: 'marca'}, class: "grey-text" %>
							<%= f.collection_select :cars_model_eq, Car.models, :model, :model, {prompt: 'modelo'}, class: "grey-text " %>
			        <%= f.button "Buscar", class: "btn amber" %>

						<% end %>
					</div>
				</div>
				<div class="col s12 l6 center">
					<div class="form-1">

						<h5 class="grey-text ">Buscar por</h5>
						<h3 class="">Tamaño llanta</h3>
						<%= search_form_for(@st, url: search_result_path) do |f| %>
								<%= f.collection_select :ancho_eq, Product.select(:ancho).distinct, :ancho, :ancho, {prompt: 'ancho'}, class: "grey-text" %>

							<%= f.collection_select :perfil_eq, Product.select(:perfil).distinct, :perfil, :perfil, {prompt: 'perfil'}, class: "grey-text" %>
							<%= f.collection_select :rin_eq, Product.select(:rin).distinct, :rin, :rin, {prompt: 'rin'},  class: "grey-text" %>
							<%= f.button 'Buscar', class: 'btn amber' %>
						<% end %>
					</div>

				</div>

				<div class="col s12 center">
					<div class="form-2">
						<h5 class="grey-text">Buscar por</h5><h3>Palabras</h3>
						<div class="row">
							<%= search_form_for(@st, url: search_result_path) do |f| %>
								<%= f.text_field :title_cont, class: "col s12 l7 grey-text" %>
								<%= f.collection_select :brand_id_eq, Brand.all, :id, :name, {prompt: 'marca'}, class: "col s12 l3 grey-text" %>
								<div class="col s12 l2">
									<%= f.button 'Buscar', class: 'btn amber' %>
								</div>
							<% end %>

						</div>
					</div>
				</div>
			</div>
	</div>
</div>

<div class="container-2">
	<div class="row">
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s2 m3"><a href="#new" class="active">lo más nuevo</a></li>
				<li class="tab col s2 m3"><a href="#best_offers" class="">ofertas</a></li>
				<li class="tab col s2 m3"><a href="#parts">refacciones</a></li>
				<li class="tab col s2 m3"><a href="#suspensions">suspensiones</a></li>
			</ul>
		</div>

		<!-- contenido -->
		<div id="new" class="col s12 tabss">
			<% @products.each do |product| %>
				<div class="col s12 m12 l6">
					<div class="d-1 <%= cycle('odd', 'even') %>">

						<div class="cont-tire hoverable">
								<div class="d-2">
									<% if product.brand %>
										<div class="brand">
											<%= link_to brand_search_path(product.brand.name) do %>
												<h4 class="y">
													<%= product.brand.name.upcase %>
												</h4>
											<% end %>
										</div>
									<% end %>
									<div class="title">
										<%= link_to show_product_url(product) do %>
											<h2>
												<%= product.title.upcase %>
											</h2>
										<% end %>
									</div>
									<div class="sizes">
										<%= link_to show_product_url(product) do %>
											<h4>
												<%= product.ancho %>-<%= product.perfil %>-<%= product.rin %>
											</h4>
										<% end %>
									</div>

									<div class="p-s">
										<%= link_to show_product_url(product) do %>
											<p class="price">$<%= product.price  %></p>
										<% end %>
										<div class="social">
											<%= render 'social', url: show_product_url(product), product: product %>
										</div>
									</div>
								</div>
								<div class="d-tire">
									<% if product.galleries.blank? %>
										<%= link_to show_product_url(product) do %>
											<%= image_tag 'd-tire.jpg' %>
										<% end %>
									<% else %>
										<%= link_to show_product_url(product) do %>
											<%= image_tag product.galleries.first.photo.url %>
										<% end %>
									<% end %>
								</div>
						</div>
					</div>
				</div>
			<% end %>

			<div class="button s12">
				<%= link_to 'ver catalogo completo', tires_path, class: "btn" %>
			</div>

		</div>


		<div id="best_offers" class="col s12 tabss">
			<% @featured.each do |product| %>
				<div class="col s12 m12 l6">
					<div class="d-1 <%= cycle('odd', 'even') %>">

						<div class="cont-tire hoverable">
								<div class="d-2">
									<% if product.brand %>
										<div class="brand">
											<%= link_to brand_search_path(product.brand.name) do %>
												<h4 class="y">
													<%= product.brand.name.upcase %>
												</h4>
											<% end %>
										</div>
									<% end %>
									<div class="title">
										<%= link_to show_product_url(product) do %>
											<h2>
												<%= product.title.upcase %>
											</h2>
										<% end %>
									</div>
									<div class="sizes">
										<%= link_to show_product_url(product) do %>
											<h4>
												<% if product.category.name == "llanta" %>
													<%= product.ancho %>-<%= product.perfil %>-<%= product.rin %>
												<% end %>
											</h4>
										<% end %>
									</div>

									<div class="p-s">
										<%= link_to show_product_url(product) do %>
											<p class="price">$<%= product.price  %></p>
										<% end %>
										<div class="social">
											<%= render 'social', url: show_product_url(product), product: product %>
										</div>
									</div>
								</div>
								<div class="d-tire">
										<%= link_to show_product_url(product) do %>
											<% if product.category.name == 'llanta' %>
												<%= image_tag 'd-tire.jpg' %>
											<% elsif product.category.name == "refaccion" %>
												<%= image_tag 'ref.jpg' %>
											<% else %>
												<%= image_tag 'rancho.jpg' %>
											<% end %>
										<% end %>
								</div>
						</div>
					</div>
				</div>
			<% end %>
			<div class="button s12">
				<%= link_to 'ver todas las ofertas', offers_path, class: "btn" %>
			</div>
		</div>

		<!-- auto parts -->
		<div id="parts" class="col s12 tabss">
			<% @auto_parts.each do |product| %>
				<div class="col s12 m12 l6">
					<div class="d-1 <%= cycle('odd', 'even') %>">

						<div class="cont-tire hoverable">
								<div class="d-2">
									<% if product.brand %>
										<div class="brand">
											<%= link_to brand_search_path(product.brand.name) do %>
												<h4 class="y">
													<%= product.brand.name.upcase %>
												</h4>
											<% end %>
										</div>
									<% end %>
									<div class="title">
										<%= link_to show_product_url(product) do %>
											<h2>
												<%= product.title.upcase %>
											</h2>
										<% end %>
									</div>
									

									<div class="p-s">
										<%= link_to show_product_url(product) do %>
											<p class="price">$<%= product.price  %></p>
										<% end %>
										<div class="social">
											<%= render 'social', url: show_product_url(product), product: product %>
										</div>
									</div>
								</div>
								<div class="d-tire">
										<%= link_to show_product_url(product) do %>
											<%= image_tag 'ref.jpg' %>
										<% end %>
								</div>
						</div>
					</div>
				</div>
			<% end %>
			<div class="button s12">
				<%= link_to 'ver catalogo completo', auto_parts_path, class: "btn" %>
			</div>
		</div>
		<div id="suspensions" class="col s12 tabss">
			<% @suspensions.each do |product| %>
				<div class="col s12 m12 l6">
					<div class="d-1 <%= cycle('odd', 'even') %>">

						<div class="cont-tire hoverable">
								<div class="d-2">
									<% if product.brand %>
										<div class="brand">
											<%= link_to brand_search_path(product.brand.name) do %>
												<h4 class="y">
													<%= product.brand.name.upcase %>
												</h4>
											<% end %>
										</div>
									<% end %>
									<div class="title">
										<%= link_to show_product_url(product) do %>
											<h2>
												<%= product.title.upcase %>
											</h2>
										<% end %>
									</div>
									

									<div class="p-s">
										<%= link_to show_product_url(product) do %>
											<p class="price">$<%= product.price  %></p>
										<% end %>
										<div class="social">
											<%= render 'social', url: show_product_url(product), product: product %>
										</div>
									</div>
								</div>
								<div class="d-tire">
										<%= link_to show_product_url(product) do %>
											<%= image_tag 'rancho.jpg' %>
										<% end %>
								</div>
						</div>
					</div>
				</div>
			<% end %>
			<div class="button s12">
				<%= link_to 'ver catalogo completo', suspensions_path, class: "btn" %>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function(){
		$('.promos').slick({
			infinite: true,
		  slidesToShow: 1,
		  slidesToScroll: 1,
		  autoplay: true,
		  dots: false,
		  prevArrow: "<button type='button' class='slick-prev'><i class='material-icons'>skip_previous</i></button>",
		  nextArrow: "<button type='button' class='slick-next'><i class='material-icons'>skip_next</i></button>"
		});
	});
</script>
