<%= render 'shared/navigation' %>


<div class="white">
	<div class="container">
		<div class="row">
			<div class="col s12 l6 ">

				<div class="col s12">
					<div class="slider-for">
						<% unless @product.galleries.empty? %>
						  <% @product.galleries.each do |g| %>
						  	<div>
							    <%= image_tag g.photo.url(:large), size: "300" %>
						  	</div>
						  <% end %>
						<% else %>
							<div>
							  <%= image_tag 'notire.svg', size: "300" %>
							</div>
						<% end %>
					</div>

				</div>
				<div class="col s12">
					<div class="small-picture">
						<% unless @product.galleries.empty? %>
						  <% @product.galleries.each do |g| %>
						   <div>
						    <%= image_tag g.photo.url(:small), size: "50" %>
						   </div>
						  <% end %>
						<% else %>
							<div>
							  <%= image_tag 'notire.svg', size: "50" %>
							</div>
						<% end %>
					</div>
				</div>


			</div>


			<div class="col s12 l6">

				<% if user_signed_in? %>
				  <% if current_user.is?(:super) or current_user.is?(:admin) %>
				    <%= link_to 'edit', edit_product_path(@product) %>
				    
				  <% end %>
				<% end %>

				<div class="info">
					<a href="<%= brand_search_path(@product.brand.name) %>"><h4 class="y"><%= @product.brand.name.upcase %></h4></a>
					<h2 class="title"><%= @product.title %></h2>
					<% if @product.category.name == "llanta" %>
						<h5 class="sizes"><%= @product.ancho %>-<%= @product.perfil %>-<%= @product.rin %></h5>
					<% end %>
				</div>
				<div class="content">
					<p><%= sanitize @product.content %></p>
				</div>
				<div class="tags">
				  <% if @product.tags %>
				    <p>
				      <% @product.tags.each do |tag| %>
				      	<%= link_to tag_search_path(tag.name) do %>
					        <%= "##{tag.name} " %>
				      	<% end %>
				      <% end %>
				    </p>
				  <% end %>

				</div>

				<div class="">
					<p class="price">$<%= @product.price %></p>
				</div>


			    <%= form_for(@line_item, url: line_items_path(product_id: @product.id), class: "col s12") do |f| %>
			      <div class="col s2">
			        <%= f.label :quantity, 'cantidad' %>
			        <%= f.number_field :quantity, min: 1, max: 99 %>
			      </div>
			      <div class="col s10">
			        <%= f.button "añadir al carrito", remote: false, class: "btn" %>
			      </div>


			    <% end %>


			</div>





		</div>
	</div>
</div>

<div class="grey lighten-2">
	<div class="container">
		<div class="row">
			<div class="col s12 performances">
				<div class="col s6 l3 performance">
					<h5>Rendimiento en frio</h5><br>
					<progress value="<%= @product.performance_cold %>" max="10" class=""></progress>
				</div>

				<div class="col s6 l3 performance">
					<h5>Rendimiento en seco</h5><br>
					<progress value="<%= @product.performance_dry %>" max="10" class=""></progress>

				</div>
				<div class="col s6 l3 performance">
					<h5>Rendimiento en mojado</h5><br>
					<progress value="<%= @product.performance_wet %>" max="10" class=""></progress>
				</div>

				<div class="col s6 l3 performance">
					<h5>Kilometros de rendimiento</h5><br>
					<p><%= @product.performance_km %> Km</p>

				</div>

			</div>
		</div>
	</div>
</div>
<div class="grey grey lighten-2">
	<div class="container">
		<div class="row">

			<div class="col s12 share">
				<h5>Comparte</h5><br>
				<%= render 'social', url: show_product_url(@product), product: @product %>
			</div>
			<div class="col s12 disqus-container">
				<%= render 'disqus', title: @product.title, url: show_product_url(@product) %>
			</div>
		</div>
	</div>
</div>




	<script type="text/javascript">
		$('.slider-for').slick({
		  slidesToShow: 1,
		  slidesToScroll: 1,
		  arrows: false,
		  fade: true,
		  asNavFor: '.small-picture'
		});
		$('.small-picture').slick({
		  slidesToShow: 6,
		  slidesToScroll: 1,
		  asNavFor: '.slider-for',
		  dots: false,
		  centerMode: true,
		  focusOnSelect: true
		});
	</script>
