<%= form_for(@user, url: admin_user_path) do |f| %>
	 <% if @user.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

	      <ul>
	      <% @user.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	<%= f.text_field :name, class: "form-control", placeholder: "nombre" %>
	<%= f.email_field :email, class: "form-control", placeholder: "email" %>
	<%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "contraseña" %>
	<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "confirmacion de contraseña" %>

	<%= f.radio_button :role, :admin, checked: true  %>
	<%= f.label :admin%>
	<%= f.radio_button :role, :default %>
	<%= f.label :default %><br>


	<%= f.button 'crear usuario', class: "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"} %>
<% end %>