<%= form_for(@user, url: user_edit_s_path) do |f| %>

		<div class="whiten-shadow">
			<p><%= @user.name %></p>
			<p><%= @user.email %></p>
		</div>
		
		<% if current_user.is? :super %>
			<%= f.radio_button :role, :admin %>
			<%= f.label :admin %>
			<%= f.radio_button :role, :default %>
			<%= f.label :default %>
		<% end %>

		<br>
		<%= f.button "update", class: "button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"} %>
<% end %>