
<nav class="<%= 'blue' if current_user.is?(:admin) %>">
  <div class="nav-wrapper container-nav">
    <a href="<%= admin_path %>" class="brand-logo">
      Panel de control
    </a>
    <a href="#" data-activates="mobile1" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

    <ul class="right hide-on-med-and-down">

        <li class="<%= 'active' if current_page?(charges_path) %>"><a href="<%= charges_path %>">Ventas</a></li>
        <li class="<%= 'active' if current_page?(products_path) %>"><a href="#!" class="dropdown-button" data-activates="dropdown2">Productos<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
        <li><a href="#!" class="dropdown-button" data-activates="dropdown1">Usuarios<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
        <li><a href="#!" class="dropdown-button" data-activates="dropdown4">Otros<i class="mdi-navigation-arrow-drop-down right"></i></a></li>

      
        <li class="<%= 'active' if current_page?(edit_user_registration_path) %> tooltipped" data-position="bottom" data-tooltip="Mi perfil">
          <%= link_to edit_user_registration_path do %>
            <i class="mdi-action-account-circle"></i>
          <% end %>
        </li>
        <li class="tooltipped" data-position="bottom" data-tooltip="Ir a tienda">
          <%= link_to root_path, class: "" do %>
            <i class="mdi-maps-store-mall-directory"></i>
          <% end %>
        </li>
        <li>
          <%= link_to :salir, destroy_user_session_path, method: :delete %>
        </li>
    </ul>

    <ul class="side-nav" id="mobile1">
      <li><a href="#!" class="dropdown-button">Usuarios<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
    </ul>

  </div>

  <!-- Dropdowns -->
  <ul id="dropdown1" class="dropdown-content">
    <li class="<%= 'active' if current_page?(a_users_path) %>"><%= link_to "Admins", a_users_path %></li>
    <li class="<%= 'active' if current_page?(n_users_path) %>"><%= link_to "Usuarios", n_users_path %></li>
   
  </ul>

  <ul id="dropdown2" class="dropdown-content">
    <li class="<%= 'active' if current_page?(products_path) %>"><%= link_to "Productos", products_path %></li>
    <li class="divider"></li>
    <li class="<%= 'active' if current_page?(categories_path) %>"><%= link_to "Categorias", categories_path %></li>
    <li class="<%= 'active' if current_page?(brands_path) %>"><%= link_to "Marcas de llantas", brands_path %></li>
    <li class="<%= 'active' if current_page?(tags_path) %>"><%= link_to "Tags", tags_path %></li>
    <li class="divider"></li>
    <li class="<%= 'active' if current_page?(cars_path) %>"><%= link_to "Vehiculos", cars_path %></li>
    <li class="<%= 'active' if current_page?(car_brands_path) %>"><%= link_to "Marca vehículo", car_brands_path %></li>

  </ul>

  
  <ul id="dropdown4" class="dropdown-content">
    <li class="<%= 'active' if current_page?(promos_path) %>"><%= link_to "Slides", promos_path %></li>
    <li class="<%= 'active' if current_page?(pages_path) %>"><%= link_to "Páginas", pages_path %></li>
  </ul>
</nav>
