
<%= render 'nav' %>

<div class="container-fluid">
	<div class="hu">
		<%= link_to 'atras', :back, class: "button" %>
	

	</div><br>

		<div class="whiten-shadow">
			<p><%= @user.name %></p>
			<p><%= @user.email %></p>
			<p>rol: <%= @user.role %></p>
			<% if @user.confirmed_at %>
				<p>confirmacion email: <%= @user.confirmed_at %></p>
			<% else %>
				<p>correo no confirmado</p>
			<% end %>
			<p>contador sesiones: <%= @user.sign_in_count %></p>
			<p>ultima vez conectado: <%= local_time(@user.current_sign_in_at, '%b %e, %Y') if @user.current_sign_in_at %></p>
			<p>Fecha de creacion: <%= local_time @user.created_at, '%b %e, %Y' %></p>


		</div>

		<h4 class="table-header">compras</h4>
		<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>nombre</th>
				<th>email</th>
				<th>Rol</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
	</table>


</div>