<%= render 'shared/navigation' %>

<div class="container edit-user">
	<div class="row">
		<div class="col s12 l6 white">
			<h4 class="grey-text center align">Cambiar contraseña</h4>
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
			  <%= devise_error_messages! %>
			  <%= f.hidden_field :reset_password_token %>

			  <div class="">
			    <%= f.label :password, "New password" %><br />
			    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
			  </div>

			  <div class="">
			    <%= f.label :password_confirmation, "Confirm new password" %><br />
			    <%= f.password_field :password_confirmation, autocomplete: "off" %>
			  </div>

			  <div class="center-align">
			    <%= f.submit "cambiar contraseña", class: "btn" %><br><br>
					<%= render "devise/shared/links" %>
			  </div>
			<% end %>


		</div>
	</div>
</div>


