<% if @cart %>
	<div class="cart-box">
		<div class="image-cart"></div>
		<div class="counter">
			<%= @cart.line_items.count %>
		</div>
		<div class="inner">
			<div class="inner-content2" id="cart-line">			
				<%= render 'line_items/line_item' %>
			</div>
		</div>
	</div>
<% end %>