<section class="footer" id="footer">
	<div class="f-container">
		<div class="row">


			<div class="col l4 s12 links">
				<h5 class="white-text">Enlaces</h5>
				
				<% @pages.each do |page| %>
					<%= link_to "#{page.title}", front_show_path(page), class: "btn waves-effect grey darken-1" %>
				<% end %>
			</div>

			<div class="col l4 s12 social">
				<h5 class="white-text">Conecta con nosotros</h5><br>
				<a href="<%= FACEBOOK_URL %>" class="icon" ><%= image_tag 'face2.svg' %></a>
				<a href="<%= INSTAGRAM_URL %>" class="icon" ><%= image_tag 'instagram2.svg' %></a>
				<p class="white-text"><%= image_tag 'skype.svg', class: "phone" %>sotollantas</p>
				<p class="white-text"><%= image_tag 'phone2.svg', class: "phone" %>348 122 17 05</p>
				<p class="white-text"><%= image_tag 'phone2.svg', class: "phone" %>348 102 31 44</p>
				<p class="white-text"><%= image_tag 'phone2.svg', class: "phone" %>331 614 8037</p>
				<p class="white-text"><%= image_tag 'phone2.svg', class: "phone" %>62*897316*1</p>
				<p class="white-text"><%= EMAIL %></p>
			</div>
			<div class="col l4 s12 visa">
				<%= image_tag 'tr.png' %>
				<%= image_tag 'oxxo.png' %>
				<%= image_tag 'visa.png' %>
				<%= image_tag 'master.png' %>
				<%= image_tag 'paypal.png' %>
				<%= image_tag 'fedex.png' %>
			</div>
		</div>
	</div>
		<div class="copyright">
			<p class="white-text">
				© 2015 Sotollantas, Todos los derechos reservados.
			</p>
		</div>
</section>