	<% if user_signed_in? && current_user.likes?(product) %>
		<%= link_to destroy_like_path(product), method: :delete, remote: true, class: "" do %>
		<%= image_tag 'heart2.svg' %>
		<% end %>
	<% else %>
		<%= link_to increase_like_path(product), method: :post, remote: true, class: "" do %>
			<img class="tooltipped" src="<%= asset_path 'heart.svg' %>" data-position="bottom" data-tooltip="agregar a favoritos">
		<% end %>
	<% end %>
	


