<div class="navbar-fixed">
	<nav class="navbar">
		<div class="nav-wrapper container-nav">

			<ul class="left hide-on-med-and-down ul-list">
	    		<% if user_signed_in? %>
	    			<% if current_user.is?(:super) or current_user.is?(:admin) %>
	    				<li class="tooltipped" data-position="bottom" data-tooltip="admin" ><a href="<%= admin_path %>"><%= image_tag 'tool.svg', class: "custom-icon" %></a></li>
	    			<% end %>


		    		<li class="tooltipped" data-position="bottom" data-tooltip="ver carrito">
		    			<% unless @cart.line_items.count == 0 %>
								<div class="counter">
									<span><%= @cart.line_items.count %></span>
								</div>
		    			<% end %>
		    			<a href="<%= cart_resume_path %>"><%= image_tag 'cart.svg', class: 'custom-icon' %></a>
		    		</li>

		    		<li>
		    			<a href="#!" class="dropdown-button" data-activates="dropdown_user"><%= image_tag 'users.svg', class: "custom-icon" %></a>
		    		</li>
		    		<li class="tooltipped" data-position="bottom" data-tooltip="buscador" ><a href="<%= root_url %>#search"><%= image_tag 'search.svg', class: 'custom-icon' %></a></li>
	    		<% else %>
		    		<li><a href="<%= cart_resume_path %>"><%= image_tag 'cart.svg', class: 'custom-icon' %></a></li>
		    		<li class="tooltipped" data-position="bottom" data-tooltip="buscador" ><a href="<%= root_url %>#search"><%= image_tag 'search.svg', class: 'custom-icon' %></a></li>

	    			<li class="grey small btn-flat" id="login-btn"><%= link_to 'inicio/registro', new_user_session_path %></li>
	    		<% end %>

	    </ul>

			<a href="<%= root_path %>" class="brand-logo center">
	      <%= image_tag 'soto.png' %> 
	    </a>

	    <ul class="right hide-on-med-and-down">
	    		<li ><a href="<%= FACEBOOK_URL %>"><%= image_tag 'face.svg', class: 'custom-icon' %></a></li>
	    		<li ><a href="#footer"><%= image_tag 'phone.svg', class: 'custom-icon' %></a></li>
	    		<li ><a href="<%= INSTAGRAM_URL %>"><%= image_tag 'instagram.svg', class: 'custom-icon' %></a></li>
	    </ul>


	    <!-- Dropdowns -->
		  <ul id="dropdown_user" class="dropdown-content">
		    <li class="<%= 'active' if current_page?(edit_user_registration_path) %>"><%= link_to "mi perfil", edit_user_registration_path %></li>
		    <li><%= link_to "salir", destroy_user_session_path, method: :delete %></li>
		  </ul>

		  <ul id="slide-out" class="side-nav">
			  <% if user_signed_in? %>
	    			<% if current_user.is?(:super) or current_user.is?(:admin) %>
	    				<li>
	    					<a href="<%= admin_path %>">
	    					<%= image_tag 'tool.svg' %>
	    					Admin
	    					</a>
	    				</li>
	    			<% end %>


		    		<li>
		    			<% unless @cart.line_items.count == 0 %>
								<div class="counter">
									<span><%= @cart.line_items.count %></span>
								</div>
		    			<% end %>
		    			<a href="<%= cart_resume_path %>">
			    			<%= image_tag 'cart.svg' %>
			    			Ver carrito
		    			</a>
		    		</li>

		    		<li class="no-padding">
				      <ul class="collapsible collapsible-accordion">
				        <li>
				          <a class="collapsible-header">Mi perfil<i class="mdi-navigation-arrow-drop-down"></i></a>
				          <div class="collapsible-body">
				            <ul>
				              <li><%= link_to "mi perfil", edit_user_registration_path %></li>
				              <li><%= link_to "Salir", destroy_user_session_path, method: :delete %></li>
				            </ul>
				          </div>
				        </li>
				      </ul>
				    </li>

		    		<li>
		    			<a href="<%= root_url %>#search">
		    			<%= image_tag 'search.svg' %>
		    			Busqueda
		    			</a>
		    		</li>

		    	
	    		<% else %>
		    		<li><a href="<%= cart_resume_path %>"><%= image_tag 'cart.svg' %>Carrito</a></li>
		    		<li ><a href="<%= root_url %>#search"><%= image_tag 'search.svg' %>Busqueda</a></li>

	    			<li class="registro">
		    			<a href="<%= new_user_session_path %>"><%= image_tag 'users.svg' %>inicio/registro</a>
	    			</li>
	    		<% end %>
		  </ul>
		  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

		</div>
	</nav>
</div>