<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row card-panel">
    <div class="col s12">
      <%= f.label :title, 'Titulo' %><br>
      <%= f.text_field :title, maxlength: 20, required: true %>
    </div>
    <div class="col s12">
      <%= f.label :content, 'Contenido' %><br>
      <%= f.text_area :content, class: "ckeditor" %>
    </div>
    <div class="col s3">
      <%= f.label :published_at, 'fecha de publicacion' %><br>
      <%= f.date_field :published_at, class: "datepicker" %>
    </div>
    <div class="col s3">
      <%= f.check_box :published %>
      <%= f.label :published, 'publicado?' %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'guardar', class: "btn expand" %>
  </div>

<% end %>

<script type="text/javascript">
  $('.ckeditor').ckeditor({
    // optional config
  });

</script>
