<%= render 'admin/nav' %>
<div class="container">
	
	<h1>Editar Página</h1>

	<%= render 'form' %>

	<%= link_to 'Ver en página principal', front_show_path(@page), class: "btn expand amber" %>
</div>
