<%= render 'admin/nav' %>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a href="<%= new_page_path %>" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="left" data-tooltip="Página nueva"><i class="mdi-content-add"></i></a>

</div>

<div class="container">
  
  <h3>Páginas estáticas</h3>

  <table class="striped centered">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Publicada?</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td><%= page.title %></td>
          <td><%= page.published %></td>
          <td><%= link_to 'Ver', page %></td>
          <td><%= link_to 'Editar', edit_page_path(page) %></td>
          <td><%= link_to 'Ver en página', front_show_path(page) %></td>
          <% if current_user.is? :super %>
            <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div>

