<%= render 'admin/nav' %>

<div class="container">
	<div class="row card-panel hoverable">
		<h4>
		  Titulo: 
		  <%= @page.title %>
		</h4>

		  <%= sanitize @page.content %>

		<p>
		  <b>Publicado?</b>
		  <% if @page.published %>
        <i class="material-icons g">done</i>
			<% else %>
				NO
			<% end %>	  	
		</p>

		<p>
		  <b>Fecha publicación:</b>
		  <%= local_time @page.published_at %>
		</p>
		
	</div>

	<%= link_to 'editar', edit_page_path(@page), class: 'btn expand' %> 
	
</div>
