<style type="text/css">
	.price {
		color: #2fdab8;
		font-size: 1.3em;
	}
	.r {
		color: red;
	}
</style>

<h2>¡Gracias!, se ha generado el siguiente cargo mediante tarjeta de crédito</h2>

<p class="price"><b>Cargo en pesos: </b>$ <%= @charge.amount %>.00 MXN (incluido envío)</p><br>
<p><b>Nombre:</b> <%= @charge.name %></p><br>
<p><b>Dirección completa:</b> <%= @charge.full_address %></p>
<p><b>Colonia:</b> <%= @charge.colonia %></p>
<p><b>Estado:</b> <%= @charge.state %></p>
<p><b>Ciudad:</b> <%= @charge.city %></p>
<p><b>Código postal:</b> <%= @charge.zip_code %></p>
<p><b>Teléfono de contacto:</b> <%= @charge.phone_number %></p>
<p><b>Servicio de envío:</b> <%= SHIP_COMPANY %></p>
<p><b>Fecha de creación de cargo:</b> <%= @charge.created_at.strftime('%m/%e/%y %I:%M%P') %></p><br><br>


<div>
	<h3>Código de referencia:</h3>
	<p><%= @charge.conekta_id %></p><br><br>
</div>


<p class="r">Cuando el producto este listo para su envío se le enviara un email con el código de rastreo correspondiente</p>

