<style type="text/css">
	.price {
		color: #2fdab8;
		font-size: 1.3em;
	}
	.r {
		color: red;
	}
	.oxxo .oxxo-logo{width: 140px;}
</style>

<h2>¡Gracias!, se ha generado el siguiente cargo mediante oxxo</h2>

<p class="price"><b>Cargo en pesos: </b>$ <%= @charge.amount %>.00 MXN (incluido envío)</p><br>

<div class="oxxo">
	<img src="https://dl.dropboxusercontent.com/u/32178315/kakto/logo-oxxo.png" class="oxxo-logo"><br>
	<%= image_tag(@charge.payment_bar_url) %><br>
	<p>
		<%= @charge.payment_barcode %>
	</p><br>
</div>

<p><b>Nombre:</b> <%= @charge.name %></p><br>
<p><b>Dirección completa:</b> <%= @charge.full_address %></p>
<p><b>Colonia:</b> <%= @charge.colonia %></p>
<p><b>Estado:</b> <%= @charge.state %></p>
<p><b>Ciudad:</b> <%= @charge.city %></p>
<p><b>Código postal:</b> <%= @charge.zip_code %></p>
<p><b>Teléfono de contacto:</b> <%= @charge.phone_number %></p>
<p><b>Servicio de envío:</b> <%= SHIP_COMPANY %></p>
<p><b>Fecha de creación de cargo:</b> <%= @charge.created_at.strftime('%m/%e/%y %I:%M%P') %></p><br><br>

<div>
	<h3>Código de referencia:</h3>
	<p><%= @charge.conekta_id %></p>
	<p class="r">Cuando se detecte que el pago mediante oxxo ha sido exitoso se le enviara un email con la confirmación del pago y el código de rastreo correspondiente</p>
</div>



