<style type="text/css">
	.b {
		color: blue;
	}
</style>

<h2>¡Gracias!, se ha recibido el cargo correctamente</h2><br>

<div>
	<h3>Código de rastreo:</h3>
	<p><%= @charge.ship_number %></p><br>

	<h3>Puedes rastrear tu producto aqui:</h3>
	<p><a href="<%= TRACK_URL %>"><%= SHIP_COMPANY %> rastreo</a></p><br>
</div>

<div>
	<h3>Código de referencia:</h3>
	<p><%= @charge.conekta_id %></p><br>
</div>

<div>
	<p>Productos comprados</p>
	<% @charge.line_items.each do |item| %>
		<p>
			x<%= item.quantity %>, 
			<%= item.product.title %>,
			<% unless item.property == "default" %>
			 (<%= item.property.humanize %>, <%= item.property_2 %>),
			<% end %>
			$ <%= @charge.amount %> MXN
		</p>
	<% end %>
	<p><b>Total:</b>$ <%= @charge.amount %> (inluido envío)</p>
</div>
