<%= form_for(@tag) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row card-panel">
    <div class="col s12">
      <%= f.label :name, 'nombre' %>
      <%= f.text_field :name, required: true %>
    </div>
  </div>


  <div class="actions">
    <%= f.submit 'guardar', class: "btn expand" %>
  </div>
<% end %>
