<%= render 'admin/nav' %>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a href="<%= new_tag_path %>" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="left" data-tooltip="Tag nueva"><i class="mdi-content-add"></i></a>

</div>

<div class="container">

  <h1>Tags</h1>
  <div class="row">
    <%= search_form_for(@st, url: tags_path, html:{class: "search-form"}) do |f| %>
      <div class="col s12">
        
          <div class="s12">
            <%= f.search_field :name_cont, {placeholder: "nombre...", class: "form-control"} %>
          </div>
      </div>
      <div class="col s9">
     
        <%= f.button 'buscar', class: "btn" %>
      </div>
      <div class="col s3">
        <%= link_to 'reestablecer', tags_path, class: "btn amber" %>
      </div>
    <% end %>
  </div>

<table class="striped centered">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= link_to 'Show', tag %></td>
        <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @tags, page_links: true, class: "text-center will-paginate pagination" %>


</div>
