<%= render 'admin/nav' %>

<div class="container">
	<div class="row card-panel hoverable">
		<div class="col s12">
			
			<h4>Nombre: <%= @tag.name %></h4>	
		</div>
	</div>
		<%= link_to 'Edit', edit_tag_path(@tag), class: "btn expand" %> 
</div>

