<%= render 'shared/navigation' %>

<div class="container edit-user">
	<div class="row">
		<div class="col s12 l6 white">
			<h4 class="grey-text center-align">Inicio de sesión</h4><br>
			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			  <div class="field">
			    <%= f.email_field :email, autofocus: true, placeholder: "email", required: true %>
			  </div>

			  <div class="field">
			    <%= f.password_field :password, autocomplete: "off", placeholder: "contraseña", required: true %>
			  </div>

			  <% if devise_mapping.rememberable? -%>
			    <div class="field">
			      <%= f.check_box :remember_me %>
			      <%= f.label :remember_me, 'recordarme' %>
			    </div>
			  <% end -%>

			  <div class="center-align">
			    <%= f.submit "inicio sesión", class: "btn" %><br><br>
					<%= render "devise/shared/links" %>
			  </div>
			<% end %>

		</div>
	</div>
</div>


