<%= form_for(@car_brand) do |f| %>
  <% if @car_brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car_brand.errors.count, "error") %> prohibited this car_brand from being saved:</h2>

      <ul>
      <% @car_brand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row card-panel">
    
    <div class="col s12">
      <%= f.label :name, 'nombre' %><br>
      <%= f.text_field :name, required: true %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'guardar', class: "btn expand" %>
  </div>
<% end %>
