<%= render 'admin/nav' %>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a href="<%= new_car_brand_path %>" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="left" data-tooltip="Marca nueva de auto"><i class="mdi-content-add"></i></a>

</div>

<div class="container">

<h1>Marcas vehículos</h1>
<div class="row">
    <%= search_form_for(@st, url: car_brands_path, html:{class: "search-form"}) do |f| %>
      <div class="col s12">
        
          <div class="s12">
            <%= f.search_field :name_cont, {placeholder: "nombre ...", class: "form-control"} %>
          </div>
      </div>
      <div class="col s9">
     
        <%= f.button 'buscar', class: "btn" %>
      </div>
      <div class="col s3">
        <%= link_to 'reestablecer', car_brands_path, class: "btn amber" %>
      </div>
    <% end %>
  </div>

<table class="striped centered">
  <thead>
    <tr>
      <th>nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @car_brands.each do |car_brand| %>
      <tr>
        <td><%= car_brand.name %></td>
        <td><%= link_to 'Show', car_brand %></td>
        <td><%= link_to 'Edit', edit_car_brand_path(car_brand) %></td>
        <td><%= link_to 'Destroy', car_brand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


</div>
