<%= render 'admin/nav' %>
<div class="container">
	<div class="row card-panel hoverable">
		<div class="col s12">
			<h4>Nombre: <%= @car_brand.name %></h4>
		</div>
	</div>


<%= link_to 'Editar', edit_car_brand_path(@car_brand), class: "btn expand" %> 
</div>
