<%= form_for(@promo, html: {multipart: true}) do |f| %>
  <% if @promo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@promo.errors.count, "error") %> prohibited this promo from being saved:</h2>

      <ul>
      <% @promo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @promo.img? %>
    <div class="th">
      <%= image_tag @promo.img.url(), size: "50" %>
    </div>
  <% end %>
  <div class="row card-panel amber white-text">
      Las imagenes que sean editadas y subidas deberan de ser de 1300x800 pixeles, de otra manera se veran mal en la página principal
  </div>


  <div class="row card-panel hoverable">
    
    <div>
      <%= f.file_field :img %>
    </div>
    <br><br>
    <div class="col s6">
      <%= f.label :title, "titulo" %><br>
      <%= f.text_field :title %>
    </div>
    <div class="col s6">
      <%= f.label :url, "Url absoluta" %><br>
      <%= f.text_field :url %>
    </div>
    <div class="col s12">
      <%= f.label :desc, "Descripción" %><br>
      <%= f.text_area :desc %>
    </div>
  </div>

  
  <div class="actions">
    <%= f.submit 'guardar', class: "btn expand" %>
  </div>
<% end %>
