
<%= render 'admin/nav' %>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a href="<%= new_promo_path %>" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="left" data-tooltip="Promo nuevo"><i class="mdi-content-add"></i></a>

</div>


<div class="container">
  <h3>Slides</h3>

    <table class="striped centered">
      <thead>
        <tr>
          <th></th>
          <th>Titulo</th>
          <th>Url</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @promos.each do |promo| %>
          <tr>
            <td><%= image_tag promo.img.url, size: "100x50" %></td>
            <td><%= promo.title %></td>
            <td><%= promo.url %></td>
            <td><%= link_to 'Ver', promo %></td>
            <td><%= link_to 'Editar', edit_promo_path(promo) %></td>
            <td><%= link_to 'Destruir', promo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>




