<%= render 'admin/nav' %>

<div class="container">
	<div class="row card-panel hoverable">
		<div>
		  <%= image_tag @promo.img.url(:large) %>
		</div>

		<div>
		  <b>Titulo:</b>
		  <%= @promo.title %>
		</div>

		<div>
		  <b>Descripción:</b>
		  <%= @promo.desc %>
		</div>

		<div>
		  <b>Url absoluta:</b>
		  <%= @promo.url %>
		</div>
		
	</div>



	<%= link_to 'editar', edit_promo_path(@promo), class: "btn expand" %>
</div>
