<div class="container">
  
  <h1>Listing Galleries</h1>

  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @galleries.each do |gallery| %>
        <tr>
          <td><%= link_to 'Show', gallery %></td>
          <td><%= link_to 'Edit', edit_gallery_path(gallery) %></td>
          <td><%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Gallery', new_gallery_path %>
</div>
