// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

.brand-logo {
	img { width: 4rem; position: relative; top: 7px;}
}
.btn.expand {
	width: 100%;
	margin-bottom: 3rem;
}
.admin {
	background: white;
	// padding-top: 70px;
	font-family: 'Lato', verdana, arial;
	.th {
		width: 50px;
		display: inline-block;
	}
	.checkbox-top {
		position: relative;
		top: 1.9rem;
	}
	.will-paginate {
		margin: 1em 0;
	}
	.container-nav {
		padding-left: 1rem;
		padding-right: 1rem;
	}


	.search-div {
		padding: 1rem;
		i, input {
			display: inline-block;
		}
	}

	nav ul a {
		font-weight: 300;
	}
	table {
		margin-bottom: 3rem;
	}
	th {
		font-weight: bold;
	}

	.search-form {
		.btn {
			width: 100%;
		}
	}
	i.g {
		color: #01A69A;
	}
}