/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.footer {
	float: left;
	width: 100%;
	/*height: 600px;*/
	// padding: 4rem 0rem;
	background-color: #4C4C4C;

	.f-container {
		width: 95%;
		padding: 2rem 0.75rem;
		margin: 0 auto;

		// background-color: green;
		p {
			font-weight: 300;
		}
		.visa {
			img {
				display: inline-block;
				margin: 1rem 1rem 0 0;
				width: 4rem;
			}
		}
		.social {
			p {font-size: 1rem; margin: 0.8rem 0;}
			.phone {
				display: inline-block;
    		width: 1rem;
    		margin-right: 0.5rem;
    		opacity: 0.9;
			}
			.icon {
				display: inline-block;
    		width: 1.3rem;
    		margin-right: 1rem;
    		opacity: 0.6;
    		-webkit-transition: all 0.3s;
    		-moz-transition: all 0.3s;
    		transition: all 0.3s;

    		&:hover {
    			opacity: 1;
    		}
			}
		}
		.links {
			.btn {
				margin: 0.5rem 0.5rem 0 0;
				// background: green;
			}
		}
	}
	.copyright {
		background-color: #3B3B3B;
		padding-left: 0.75rem;
		p {
			font-weight: 300;
			// margin: 0;
			padding: 2rem 0 2rem 0.75rem;
			width: 95%;
			margin: 0 auto;
			text-align: center;

		}
		// float: left;
		// width: 100%;

	}
}


.border {
	border: 1px solid #CCCCCC;
	// border-radius: 3px;
}


@media only screen and (max-width: 600px) {
	.search-container {
		margin-top: 1rem;
	}
}



@media print {
	.navbar-fixed {
		display: none;
	}
	#footer {display: none;}
}

