// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.cart {
	.cart-container {
		table {
			input[type="number"] {
				border: 2px solid #CCCCCC;
		    text-align: center;
		    width: 3rem;
		    height: 1.7rem;
		    margin: 0;
		    &:focus {
		    	border: 2px solid #26A69A;
		    }
			}
			.edit {
				img {
					width: 1rem;
					margin: 0 0.3rem;
				}
				&.cross img {
					transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
				}
			}
		}
		.price2 {
			color: #00AA47;
			font-size: 1.6rem;
		}
		padding: 1rem;
		.btn {
			width: 100%;
		}
		td, th {
			text-align: right;
		}
		td.price {
			color: #00AA47;
			font-weight: bold;
			font-size: 1.5rem;
		}

		.pay-r {
			// background: white;
			// border: 2px solid #3B3B3B;
			margin: 2rem 0;
			div {
				height: 30rem;

			}
			text-align: center;
			h4 {
				padding: 2rem 0;
			}
			p {
				color: #333333;
			}
			.btn {
				width: 80%;
				margin: 0 auto;
			}

			form {
				width: 80%;
				margin: 0 auto;
				.btn {
					width: 100%;
				}
			}

		}
	}
}

.credit-card {
	background: white;
	.container {
		padding: 1rem;
	}
	.credit-panel {
		background: #25AAE1;
		h5 {
			color: white;
		}
		.inline {
			display: inline;
		}
		input[type="text"]{
			color: white;
		}
		.btn {
			width: 100%;
		}
		.title2 {
			margin: 3rem 0;
			position: relative;
			img {
				position: absolute;
				right: 0px;
			}
		}
	}
}
