// Place all the styles related to the front controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$black: #202020;
$montana: #3B3B3B;
$amber: #ffc107;
$green: #02AB35;
$red: #D12E17;

// for text
$gray: #737373;


.navbar {
  box-shadow: 0px 0px 0px transparent;
  -webkit-box-shadow: 0px 0px 0px transparent;
  -moz-box-shadow: 0px 0px 0px transparent;
  // height: 80px;

  padding: 0 1.4rem;
  background: rgba(250,250,250,0.95);
}

.custom-icon {
	width: 1rem;
}

#login-btn {
	position: relative;
	top: 14px;
}

.promos {
	.promo {
		height: 500px;
	}
}

.slide-icon {
	background: asset-url('arrow.svg') no-repeat;
	background-size: 30px;
	background-position: center;
}

.search-container {
	position: relative;
	// top: -9rem;
	margin-top: -2rem;
	// padding: 0 7rem;
	.form-2 {
		padding: 1rem;
		background: $black;
		margin-top: 1rem;
		h5, h3 {
			display: inline-block;
			vertical-align: baseline;
		  margin-right: 1rem;
		}
		button {
			width: 100%;
		  height: 3.3rem;
		  position: relative;
		  top: -1px;
		}
		.select-wrapper {
			.dropdown-content li>a, .dropdown-content li>span {
				color: $gray;
			}
			span.caret {
				color: $gray;
				right: 15px;
			}
			input.select-dropdown {
				border: 2px solid $gray;
				text-align: center;
				// border-bottom: none;
			}
		}

	h3 {
		color: white;
	}
	}
	.form-1 {
		padding: 2rem 3rem;
		background: #202020;
		margin: 0 0 1rem 0 ;
		button {
			width: 100%;
			margin-left: 1px;
		}
		.select-wrapper {
			.dropdown-content li>a, .dropdown-content li>span {
				color: $gray;
			}
			span.caret {
				color: $gray;
				right: 10px;
			}
			input.select-dropdown {
				border: 2px solid $gray;
				text-align: center;
				// border-bottom: none;
			}
		}

		h3 {
			color: white;
		}
	}
}


.container-2 {
	width: 95%;
	margin: 0 auto;
	.tabs {
		background-color: transparent;
		.indicator {
			background-color: #FFC24C;
		}
		.tab {
			a {
				color: #4C4C4C;
				&.active{
					color: #4C4C4C;
				}
				&:hover {
					color: #4C4C4C;
				}
			}
		}
	}
}

.tabss {
	.col.s12.m12.l6 {
		padding: 0;
	}
	.button {
		// padding: 0;
		.btn { 
			width: 100%;
			height: 3rem;
			line-height: 3rem;

		}
	}
}

h4.y {
  font-size: 2.4rem;
  // font-weight: bold;
  letter-spacing: 0px;
  // line-height: 1rem;
  margin-bottom: -1.5rem;
  color: #FFC24C;
  font-weight: bold;
}

p.price {
	color: #01AB32;
	font-size: 3rem;
	font-weight: bold;
}
.d-1 {
  // h2, h3, h4 {line-height: 1rem;}

  h2 {
    font-size: 2rem;
    margin-bottom: -1.2rem;
    font-weight: bold;
  }
  h3 {font-size: 1rem}
	// background: gray;
  // padding: 1rem;
  &.odd {padding: 0.5rem 0.5rem 0.5rem 0}
  &.even {padding: 0.5rem 0rem 0.5rem 0.5rem}

  .cont-tire {
    background: white;
    height: 330px;
    // &:hover {}
    .d-2, .d-tire {
      display: inline-block;
    }
    .d-2 {
      float: left;
      width: 70%;
	    padding: 1rem 2rem;
	    position: relative;
	    height: 100%;

      .p-s {
      	position: absolute;
      	bottom: 1rem;

        .social {
        	width: 100%;
        	margin: 1rem 0;
        	.icon {
        		display: inline-block;
        		width: 1.2rem;
        		margin-right:1.2rem;
        		opacity: 0.6;
        		-webkit-transition: all 0.3s;
        		-moz-transition: all 0.3s;
        		transition: all 0.3s;

        		&:hover {
        			opacity: 1;
        		}
        	}
        }
      }
    }
    .d-tire {
      width: 30%;
      position: relative;
      height: 100%;
      img {
      	position: absolute;
      	top: 50%;
				transform: translateY(-50%);
      }
    }
  }
}

h2, h3 {color: #000000}
h2 {
  font-size: 2rem;
}
h4 {color: #4C4C4C}


// show section *******************************

.show {
	.container {
		padding-top: 3rem; 
	}
	.row {
		margin-bottom: 0;
	}
	h2.title {
		font-weight: bold;
	}
	h5.sizes {
		font-size: 2rem;
		margin-top: -1.5rem;
	}
}

.slider-for {
	img {
		margin: 0 auto;
	}
}

.small-picture {
	.slick-track {
		// margin: 0 auto;
		// width: 0;
	}
	width: 100%;
	border-top: 3px solid #CCCCCC;
	border-radius: 2px;
	text-align: center;
	padding: 1rem 0;
	img {
		&:focus {
			border: 2px solid green;
			background: green;
		}
		margin: 0 0.3rem;
		border: 2px solid #CCCCCC;
		border-radius: 2px;
	}
}



.performances {
	&.col.s12 {
		padding: 1rem 0.75rem 0.5rem 0;
	}
	text-align: center;
	.performance {
		position: relative;
		height: 9rem;
		h5 {
			font-size: 1.4rem;
			color: $gray;
		}
		p {
			color: $gray;
		}
		progress {
			-webkit-appearance: none;
	   appearance: none;
	   width: 10rem;
	   height: 0.5rem;
	   position: absolute;
	   bottom: 3rem;
	   left: 50%;
	   margin-left: -5rem;
	   &[value]::-webkit-progress-bar {
	   	background: #A8ECE6;
	   	border-radius: 2px;

	   }
	   &[value]::-webkit-progress-value {
	   	background: #26A69A;
	   	border-radius: 2px;

	   }
		}
	}
}

.share {
	text-align: center;
	&.col.s12 {
		padding: 0rem 0.75rem 3rem 0;
	}
	h5 {
		font-size: 1.4rem;
		color: $gray
	}
	.like-container {
		display: inline-block;
		position: relative;
		.counter {
			position: absolute;
			width: 1rem;
			height: 1rem;
			background: #EE6E73;
			color: white;
			top: 0;
			right: 0;
		}
	}
	.icon {
		width: 1.5rem;
		margin: 0 2rem;
		img {
			width: 1.5rem;
			// margin: 0 2rem;
			opacity: 0.6;
			-webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    transition: all 0.3s;
	    display: inline-block;
	    &:hover {
	    	opacity: 1;
	    }
		}
	}

}
.disqus-container {
	&.col.s12 {
		padding: 1.5rem;
	}
}

// devise ***********

.edit-user {
	.row {
		margin-top: 20px;
	}
	.row .col {
		float: none;
		padding: 2rem;
	}
	.row .col.s12 {
		// margin-left: auto;
		margin: 0 auto;
	}
	.btn {
		width: 100%;
		height: 3rem;
	}
}

// navigation cart counter ****************


.ul-list {
	// background: green;
	// position: relative;
	li {
		position: relative;
		.counter {
			text-align: center;
			position: absolute;
			width: 100%;
			height: 1rem;
			left: 0;
			bottom: 0;
			background: #00AA47;
			color: white;
			span {
				position: relative;
		    top: -26px;
		    font-size: 9px;
		    width: 100%;
			}

		}

	}
}

//  ****   catalog *******

.catalog {
	.head {

		h5 {
			text-align: center;
			color: white;
			padding: 1rem 0 ;
			&.y{background: #FFC061}
			&.g{background: #01A69A}
			&.b{background: #4C4C4C}
		}
	}
}

.side-nav {
	img {
		width: 1.3rem;
		margin-right: 2rem;
	}
	.registro {

	}
}

i.mdi-navigation-menu {
	color: black;
}

.promo.slick-slide {
	img {
		width: 100%;
		height: 100%;
	}
}



