// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.text-area-content {
	textarea {
		width: 700px;
		height: 300px;
	}
}
