// @import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,700);

body {
  background-color: #F1F3F2;
  color: #333;
  font-family:'Open Sans', verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

img {max-width: 100%}



pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

nav {

  -webkit-box-shadow: 0 ;
  -moz-box-shadow: 0;
  box-shadow: 0;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: #E75648;
  display: table;
}

#error_explanation {
  width: 100%;
  border: 2px solid #E75648;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #E75648;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: none;
  }
}

