<%= form_for(@brand) do |f| %>
  <% if @brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% @brand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row card-panel hoverable">
    
    <div class="col s12">
      <%= f.label :name, 'nombre' %>
      <%= f.text_field :name, required: true %>
    </div>
    <div class="col s12">
      <%= f.label :desc, 'descripción' %>
      <%= f.text_area :desc %>
    </div>
  </div>


  <div class="actions">
    <%= f.submit 'guardar', class: "btn expand" %>
  </div>
<% end %>
