<%= render 'admin/nav' %>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a href="<%= new_brand_path %>" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="left" data-tooltip="Marca nueva"><i class="mdi-content-add"></i></a>

</div>

<div class="container">

  <h1>Marcas de llantas</h1>
  <div class="row">
    <%= search_form_for(@st, url: brands_path, html:{class: "search-form"}) do |f| %>
      <div class="col s12">
        
          <div class="s12">
            <%= f.search_field :name_cont, {placeholder: "nombre...", class: "form-control"} %>
          </div>
      </div>
      <div class="col s9">
     
        <%= f.button 'buscar', class: "btn" %>
      </div>
      <div class="col s3">
        <%= link_to 'reestablecer', brands_path, class: "btn amber" %>
      </div>
    <% end %>
  </div>



<table class="striped centered">
  <thead>
    <tr>
      <th><%= sort_link(@st, :name, 'nombre') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= brand.name %></td>
        <td><%= link_to 'Show', brand %></td>
        <td><%= link_to 'Edit', edit_brand_path(brand) %></td>
        <% if current_user.is? :super %>
          <td><%= link_to 'Destroy', brand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @brands, page_links: true, class: "text-center will-paginate pagination" %>


</div>
