<%= render 'admin/nav' %>

<div class="container">
	<div class="row card-panel hoverable">
		
		<div class="col s12">
			<h4>Nombre: <%= @brand.name %></h4>
		</div>
		<div class="col s12">
			<p>
				<b>Descripcion: <%= @brand.desc %></b>
			</p>
		</div>
	</div>


	<%= link_to 'Edit', edit_brand_path(@brand), class: "btn expand" %>
</div>
