<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row card-panel hoverable">
    <div class="col s12">
      <%= f.label :name, 'nombre' %><br>
      <%= f.text_field :name, required: true %>
    </div>
    <div class="col s12">
      <%= f.label :desc, 'descripción' %><br>
      <%= f.text_area :desc %>
    </div>
    
  </div>
  <div class="actions">
    <%= f.submit 'guardar', class: "btn expand" %>
  </div>

<% end %>
