<%= render 'admin/nav' %>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a href="<%= new_category_path %>" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="left" data-tooltip="Categoria nueva"><i class="mdi-content-add"></i></a>

</div>

<div class="container">
  <h1>Categorias</h1>

  <table class="striped centered">
    <thead>
      <tr>
        <th>nombre</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td><%= link_to 'Ver', category %></td>
          <% if current_user.is? :super %>
            <td><%= link_to 'Editar', edit_category_path(category) %></td>
            <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>


</div>
