<%= render 'admin/nav' %>

<div class="container">
	<div class="row card-panel hoverable">
		
		<div>
			<h4>Nombre: <%= @category.name %></h4>	
		</div>

		<div>
		  <b>Descripción:</b>
		  <%= @category.desc %>
		</div>
	</div>
	<% if current_user.is? :super %>
		<%= link_to 'Editar', edit_category_path(@category), class: "btn expand" %>
	<% end %>
</div>
