<%= form_for(@car) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row card-panel hoverable">
    
      <div class="col s4">
        <%= f.label :year, 'año' %><br>
        <%= f.number_field :year, required: true %>
      </div>
      <div class="col s4">
        <%= f.label :car_brand, 'Marca' %><br>
        <%= f.collection_select(:car_brand_id, CarBrand.all, :id, :name, {include_blank: true}, required: true) %>
      </div>

      
      <div class="col s4">
        <%= f.label :model, 'modelo' %><br>
        <%= f.text_field :model, required: true %>
      </div>
  </div>

  <div class="actions">
    <%= f.submit 'guardar', class: "btn expand" %>
  </div>
<% end %>
