
<%= render 'admin/nav' %>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a href="<%= new_car_path %>" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="left" data-tooltip="Modelo nuevo"><i class="mdi-content-add"></i></a>

</div>


<div class="container">

  <h1>Modelos autos</h1>
   <div class="row">
    <%= search_form_for(@st, url: cars_path, html:{class: "search-form"}) do |f| %>
      <div class="col s12">
        
          <div class="s12">
            <%= f.search_field :model_or_year_or_car_brand_name_cont, {placeholder: "modelo, año ...", class: "form-control"} %>
          </div>
      </div>
      <div class="col s9">
     
        <%= f.button 'buscar', class: "btn" %>
      </div>
      <div class="col s3">
        <%= link_to 'reestablecer', cars_path, class: "btn amber" %>
      </div>
    <% end %>
  </div>

  <table class="striped centered">
    <thead>
      <tr>

        <th><%= sort_link(@st, :model, 'modelo') %></th>
        <th><%= sort_link(@st, :year, 'año') %></th>
        <th><%= sort_link(@st, :car_brand_name, 'marca') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @cars.each do |car| %>
        <tr>
          <td><%= car.model %></td>
          <td><%= car.year %></td>
          <td><%= car.car_brand.name %></td>
          <td><%= link_to 'Show', car %></td>
          <td><%= link_to 'Edit', edit_car_path(car) %></td>
          <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


</div>

