<%= render 'admin/nav' %>


<div class="container">
	<div class="row card-panel hoverable">
		<div class="row col s4">
			
		  <b>Modelo:</b>
		  <%= @car.model %>
		</div>
		<div class="row col s4">
			
		  <b>Año:</b>
		  <%= @car.year %>
		</div>
		<div class="row col s4">
			
		  <b>Marca vehículo:</b>
		  <%= @car.car_brand.name %>
		</div>
	</div>

<%= link_to 'Edit', edit_car_path(@car), class: "btn expand" %> 
</div>
