<div class="container edit-user">
	<div class="row">
		<div class="col s12 l6 white">

			<p class="grey-text">Hola <%= @email %>, bienvenido!</p>

			<p class="grey-text">Puedes completar tu registro a través del siguiente link:</p>

			<p><%= link_to 'Confirmar', confirmation_url(@resource, confirmation_token: @token) %></p>
		</div>
	</div>
</div>

