<div class="container edit-user">
	<div class="row">
		<div class="col s12 l6 white">

			<p class="grey-text">Hola <%= @resource.email %>!</p>

			<p class="grey-text">Alguien ha solicitado cambiar tu contraseña, lo puedes hacer a travéz del siguiente link</p>

			<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

			<p>Si tu no has solicitado esto, solo ignora este email</p>
			<p>Tu contraseña no cambiara hasta que des click en el link y cambies tu contraseña</p>
		</div>
	</div>
</div>

