<div class="container edit-user">
	<div class="row">
		<div class="col s12 l6 white">

			<p class="grey-text">Hola <%= @resource.email %>!</p>

			<p class="grey-text">Tu cuenta ha sido bloqueada debido a un número excesivo de intentos de inicio de sesión. </p>
			<p class="grey-text">Has click en el siguiente link para desbloquear tu cuenta</p>

			<p class="grey-text"><%= link_to 'Desbloquear', unlock_url(@resource, unlock_token: @token) %></p>
		</div>
	</div>
</div>

