<%= form_for(@product, html: {multipart: true}) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row card-panel hoverable">
    <p>Imagenes (Para seleccionar más de una imagen, mantén presionado Ctrl y va dando click en la imagen deseada)</p>

    <% unless @product.galleries.empty? %>
      <% @product.galleries.each do |p| %>
        <div class="th">
          <%= image_tag p.photo.url(:small), size: "50" %>
          <%= link_to 'eliminar', delete_gallerie_path(p), method: :delete, data: {confirm: "Estas seguro?"} %>
        </div>
      <% end %>
    <% end %>
    <%= file_field_tag "photos[]", type: :file, multiple: true %>
  </div>

  <div class="row card-panel hoverable">
    
    <div class="col s4">
      <%= f.label :title, 'nombre' %>
      <%= f.text_field :title, required: true %>
    </div>
    <div class="col s4">
      <%= f.label :published_at, 'fecha de publicación' %>
      <%= f.date_field :published_at, class: "datepicker" %>
    </div>
    <div class="col s4">
      <%= f.label :sku, 'SKU' %>
      <%= f.text_field :sku, required: true %>
    </div>
    <div class="col s12">
      <%= f.text_area :content, placeholder: "contenido", required: true %>
    </div>
  </div>

  <div class="row card-panel hoverable">
    <div class="col s3">
      <%= f.label :price, 'precio' %>
      <%= f.text_field :price, required: true %>
    </div>
    <div class="col s3">
      <%= f.label :cost_price, 'costo' %>
      <%= f.text_field :cost_price, required: true %>
    </div>
    <div class="col s3">
      <%= f.label :weight, 'peso (kg)' %>
      <%= f.text_field :weight, required: true %>
    </div>
    <div class="col s3">
      <%= f.label :stock, 'stock' %>
      <%= f.number_field :stock, required: true %>
    </div>
    
  </div>

  <div class="row card-panel hoverable">
    <div class="col s4">
      <%= f.label :ancho, 'ancho' %>
      <%= f.number_field :ancho, required: true %>
    </div>
    <div class="col s4">
      <%= f.label :perfil, 'perfil' %>
      <%= f.number_field :perfil, required: true %>
    </div>
    <div class="col s4">
      <%= f.label :rin, 'rin' %>
      <%= f.number_field :rin, required: true %>
    </div>
    <div class="col s3">
      <%= f.label :performance_km, 'rendimiento en km' %>
      <%= f.number_field :performance_km, required: true, min: 1000, max: 999000 %>
    </div>
    <div class="col s3">
      <%= f.label :performance_cold, 'rendimiento en frio (max 10)'%>
      <%= f.number_field :performance_cold, required: true, min: 1, max: 10 %>
    </div>
    <div class="col s3">
      <%= f.label :performance_dry, 'rendimiento en seco (max 10)' %>
      <%= f.number_field :performance_dry, required: true, min: 1, max: 10 %>
    </div>
    <div class="col s3">
      <%= f.label :performance_wet, 'rendimiento en mojado (max 10)' %>
      <%= f.number_field :performance_wet, required: true, min: 1, max: 10 %>
    </div>
    
  </div>

  <div class="row card-panel hoverable">
    
    <div class="col s12">
      <%= f.label :tag_ids, "tags" %>
      <%= f.select :tag_ids, Tag.all.collect {|x| [x.name, x.id] },
                                          {},
                                          { multiple: true, class: "chosen-select browser-default"} %>
    </div>
     <div class="col s12">
      <%= f.label :car_ids, "Vehículos" %>
      <%= f.select :car_ids, Car.all.collect {|x| [x.model, x.id] },
                                          {},
                                          { multiple: true, class: "chosen-select browser-default"} %>
    </div>
    <div class="col 4">
      <%= f.label :brand, "Marca" %>
      <%= f.collection_select(:brand_id, Brand.all, :id, :name, {include_blank: true}, class: "browser-default") %>
    </div>

    <div class="col 4">
      <%= f.label :category, "Categoria" %>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {include_blank: true}, class: "browser-default") %>
    </div>
    <div class="col s2 checkbox-top">
      <%= f.check_box :published %>
      <%= f.label :published, "publicado?" %>
    </div>
    <div class="col s2 checkbox-top">
      <%= f.check_box :featured %>
      <%= f.label :featured, "Descatado?" %>
    </div>
    <div class="col s12">
      <%= f.button "guardar", class: "btn expand" %>
    </div>
  </div>


  





<% end %>
