<%= render 'admin/nav' %>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a href="<%= new_product_path %>" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="left" data-tooltip="Producto nuevo"><i class="mdi-content-add"></i></a>

</div>



    <div class="container-2">

      <div class=" row">
          <%= search_form_for(@st, html:{class: ""}) do |f| %>
            <div class="row">
              <div class="input-field col s12">
                <%= f.text_field :title_or_sku_cont, class: "validate" %>
                <label>palabras</label>

              </div>
              <div class="input-field col s2">
                <%= f.collection_select(:category_id_eq, Category.all, :id, :name, {include_blank: true}) %>
                <label>categoria</label>
              </div>
              <div class="input-field col s2">
                <%= f.text_field :price_eq, class: "validate" %>
                <label>precio</label>
              </div>
              <div class="input-field col s2">
                <%= f.text_field :weight_eq, class: "validate" %>
                <label>peso</label>
              </div>

              <div class="input-field col s2">
                <%= f.collection_select :brand_id_eq, Brand.all, :id, :name, {include_blank: true} %>
                <label>marca</label>
              </div>
              <div class="input-field col s2">
                <%= f.number_field :ancho_eq, class: "validate" %>
                <label>ancho</label>
              </div>
              <div class="input-field col s2">
                <%= f.number_field :perfil_eq, class: "validate" %>
                <label>perfil</label>
              </div>
              <div class="input-field col s2">
                <%= f.number_field :rin_eq, class: "validate" %>
                <label>rin</label>
              </div>
              <div class="col s2">
                <%= f.check_box :published_true, checked: true %>
                <%= f.label :published_true, "publicado" %>
              </div>

            </div>
            <div class="s12"> 
              <div class="col s9">
                <%= f.button "Busqueda", class: "btn expand" %>
              </div>
              <div class="col s3">
                <%= link_to "restablecer", products_path, class: "btn expand amber white-text" %>
              </div>
            </div>  
          <% end %>

      </div>

      <table class="striped centered">
        <thead>
          <tr>
            <th data-field="sku">sku</th>
            <th><%= sort_link(@st, :stock, 'stock') %></th>
            <th>titulo</th>
            <th><%= sort_link(@st, :published, "publicado?") %></th>
            <th><%= sort_link @st, :price, "precio" %></th>
            <th><%= sort_link @st, :category_name, "categoria" %></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <tr class="">
              <td><%= product.sku %></td>
              <td><%= product.stock %></td>
              <td><b><%= product.title %></b></td>
              <td><%= product.published %></td>
              <td><%= product.price %></td>
              <td><%= product.category.name %></td>
              <td><%= link_to 'Show', product_path(product) %></td>
              <td><%= link_to 'Edit', edit_product_path(product) %></td>
              <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= will_paginate @products, page_links: true, class: "text-center will-paginate pagination" %>


    </div>



