<%= render 'admin/nav' %>

<div class="container">
  <div class="row">
    <div class="s12 card-panel hoverable">
      <% if @product.galleries %>
        <% @product.galleries.each do |p| %>
          <%= image_tag p.photo.url(:small), size: "80x80" %>
        <% end %>
      <% end %>

        <h4>
          <strong>Titulo:</strong>
          <%= @product.title %>
        </h4>


        <p>
          <strong>Contenido:</strong>
          <%= sanitize @product.content %>
        </p>
        

        <p>
          <strong>Publicado?</strong>
          <% if @product.published %>
            <i class="material-icons g">check</i>
          <% end %>
        </p>

        <p>
          <strong>Fecha creación:</strong>
          <%= local_time @product.created_at %>
        </p>
        <% if @product.published_at %>
          <p>
            <strong>Fecha de publicación:</strong>
            <%= local_time @product.published_at %>
          </p>
        <% end %>

        <p>
          <strong>Sku:</strong>
          <%= @product.sku %>
        </p>

        <p>
          <strong>peso:</strong>
          <%= @product.weight %> Kg
        </p>

        <p>
          <strong>Precio:</strong>
          <%= @product.price %>
        </p>

        <p>
          <strong>Precio de costo:</strong>
          <%= @product.cost_price %>
        </p>

        <p>
          <strong>Destacado en oferta?:</strong>
          <% if @product.featured %>
            <i class="material-icons g">check</i>
          <% end %>
        </p>

        <p>
          <strong>Existencias:</strong>
          <%= @product.stock %>
        </p>

        <% if @product.brand %>
        <p>
          <strong>Marca:</strong>
          <%= @product.brand.name %>
        </p>
        <% end %>

        <p>
          <strong>Categoria:</strong>
          <%= @product.category.name %>
        </p>

        <p>
          <b>tags:</b>
          <% @product.tags.each do |t| %>
            #<%= t.name %>
          <% end %>
        </p>
      
    </div>
    
    <div class="s12">
      <div class="col s2">
        
        <%= link_to 'atras', :back, class: "btn expand" %><br>
      </div>
      <div class="col s10">
        
        <%= link_to 'ver en la tienda', show_product_path(@product), class: "btn expand" %><br><br><br>
      </div>
    </div>

 


  </div>
</div>

