alert("sodhfusdh");

$(document).on('page:load',   function() { 
	alert("sodhfusdh");
	$('#cart-tableee').html("<%=j render 'views/charges/cart_items' %>");

});



// $('#notify-cart').on('ajax:success', function() {
//   // insert the failure message inside the "#account_settings" element
//   // $(this).append(xhr.responseText)
// 	$('#cart-line').html("<%=j render 'line_items/line_item' %>");
// });
$('.cart-container #cart-tableee .edit.bota').on('ajax:success', function() {
  // insert the failure message inside the "#account_settings" element
  // $(this).append(xhr.responseText)
  $("#cart-tableee").html("<%=j render 'charges/cart_items' %>");

});

