<table class="responsive-table">
	<thead>
		<tr>
			<th></th>
			<th>nombre</th>
			<th>precio</th>
			<th>kg</th>
			<th>cantidad</th>
			<th>total</th>
		</tr>
	</thead>
	<tbody>
		<% @cart.line_items.each do |line| %>
			<tr>
        <%= hidden_field_tag 'product_ids[]', line.product.id %>
				<% unless line.product.galleries.empty? %>
					<td><%= image_tag line.product.galleries.first.photo.url(:small), size: "50" %></td>
				<% else %>
					<td><%= image_tag 'notire.svg', size: "50" %></td>
				<% end %>
				<td>
					<%= link_to show_product_path(line.product) do %>
						<%= line.product.title %>
					<% end %>
				</td>
				<td class="">
					$<%= line.product.price %>
				</td>
				<td><%= line.weight %> </td>
				
				<td>
	        <%= number_field_tag 'product_quantities[]', line.quantity, min: 1, max: 99 %>
				</td>
				<td class="price">$<%= line.total_price_line %> </td>
			</tr>
		<% end %>

	</tbody>
</table>