<%= form_for(@charge, url: url, html: {id: 'card-form'}) do |f| %>
  <div class="col s12 border center-align">
    <h5>Total</h5>
    <p class="price2 center-align">$<%= final_price %> Mxn</p>
      <% if @charge.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@charge.errors.count, "error") %> prohibited this charge from being saved:</h2>

          <ul>
          <% @charge.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="input-field col s6">
        <%= f.text_field :name, required: true %>
        <%= f.label :name, 'nombre' %>
      </div>
      <div class="input-field col s6">
        <%= f.label :colonia, 'colonia' %>
        <%= f.text_field :colonia, required: true %>
      </div>
      <div class="input-field col s6">
        <%= f.label :city, 'ciudad' %>
        <%= f.text_field :city, required: true %>
      </div>
      
      <div class="input-field col s6">
        <%= f.label :state, 'estado' %>
        <%= f.text_field :state, required: true %>
      </div>
      <div class="input-field col s6">
        <%= f.label :zip_code, 'código postal' %>
        <%= f.number_field :zip_code, required: true %>
      </div>
      <div class="input-field col s6">
        <%= f.label :phone_number, 'número de teléfono' %>
        <%= f.number_field :phone_number, required: true %>
      </div>
      <div class="input-field col s12">
        <%= f.text_area :full_address, class: "materialize-textarea", required: true %>
        <%= f.label :full_address, 'direccion completa' %>
      </div>
      
      <div class="col s12">
      </div>
  </div>
  <div class="col s12 border credit-panel">
            <div class="col s12 title2 credit-field">
              <h5 class="inline">Detalles de tarjeta</h5>
              <%= image_tag 'cards.png', size: "240x40", class: "inline" %>
            </div>      

            <div class="credit-field col s12 l6">
              <input class="" type="text" data-conekta="card[name]" placeholder="nombre del tarjetahabiente" required="true">
            </div>
            <div class="credit-field col s12 l6">
              <input class="" type="text" data-conekta="card[number]" placeholder="numero de tarjeta de crédito" required="true">
            </div>

            <div class="credit-field col s12 l4">
              <input class="" type="text" data-conekta="card[exp_month]" placeholder="mes expiración (MM)" maxlength="2" required="true">
            </div>
            <div class="credit-field col s12 l4">
              <input class="" type="text" data-conekta="card[exp_year]" placeholder="año expiración (AAAA)" maxlength="4" required="true">
            </div>
            <div class="credit-field col s12 l4">
              <input class="" type="text" data-conekta="card[cvc]" placeholder="código CVC" maxlength="3" required="true">
            </div>
    
        <%= f.button 'procesar pago', class: "btn" %>
  </div>

<% end %>
