

<%= form_for(@charge) do |f| %>
<section class="">
  <div class="card-panel row">
  <div class="col s12">
      <h3>Detalles del cargo</h3>
      <p>
        <b>Producción?:</b>
        <% if @charge.livemode == "f" %>
          <span class="text-red">no</span>
        <% else %>
          <span class="text-green">si</span>
        <% end %>
      </p>
      <p>
        <b>Cantidad:</b>
        <span style="color: #27AB32; font-size:18px;">$ <%= @charge.amount %></span>
      </p>
      <p>
        <b>Moneda:</b>
        <%= @charge.currency %>
      </p>
      <p>
        <b>Tipo de cargo:</b>
        <%= @charge.payment_type %>
      </p>
      <p>
        <b>Código de referencia:</b>
        <%= @charge.conekta_id %>
      </p>
      <p>
        <b>Fecha de creación:</b>
        <%= local_time(@charge.created_at, '%m/%e/%y %I:%M%P') %>
      </p><br><br>

      <% if @charge.payment_type == "OXXO" %>
        <p>
          <%= image_tag(@charge.payment_bar_url) %><br>
          <%= @charge.payment_barcode %>
        </p><br><br>
      <% end %>
      <p>
        <b>Estado del pago:</b>
          <% if @charge.conekta_status == "paid" %>
            <span class="text-green">Pagado</span>
          <% elsif @charge.payment_type == "OXXO" %>
            <% if @charge.status == "enviado" or @charge.status == "listo_para_envio" or @charge.status == "pago_recibido" %>
              <span class="text-green">
                Pagado
              </span>
            <% else %>
              <span class="text-red"><%= @charge.conekta_status.humanize %></span>
            <% end %>
          <% end %>
      </p><br><br>
  </div>

      <div class="s12">
        <div class="col s8">
          <%= f.label :ship_number, 'número de rastreo' %>
          <%= f.text_field :ship_number, class: "" %>
        </div>
        <% unless @charge.ship_number.empty? %>
          <div class="col s4">
            <%= link_to 'Enviar numero de rastreo', charge_send_number_path(@charge), method: :put, class: "btn", data: { 
              confirm: @charge.counter >= 1 ? "Ya has enviado el número de rastreo #{@charge.counter} veces, estas seguro?" : "Enviar número de rastreo #{@charge.ship_number}" } %>
          </div>
        <% end %>
        
      </div>

      <div class="s12">
        
        <% if current_user.is? :admin and @charge.status == "enviado" %>
          <div class="col s12">
            <%= @charge.status %>
          </div>
        <% else %>
          <div class="col s12">
          <%= f.label :status, 'estado del envío' %>
            <%= f.select :status, Charge::Stages %>
          </div>
        <% end %>
      </div>


      
    </div>

    <div class="card-panel row">
      <h3>Detalles del envío</h3>
      <p>
        <b>País:</b>
        <%= @charge.country %>
      </p>
      <p>
        <b>Estado:</b>
        <%= @charge.state %>
      </p>
      <p>
        <b>Ciudad:</b>
        <%= @charge.city %>
      </p>
      <p>
        <b>Colonia:</b>
        <%= @charge.colonia %>
      </p>
      <p>
        <b>Código postal:</b>
        <%= @charge.zip_code %>
      </p>
      <p>
        <b>Direccion completa:</b>
        <%= @charge.full_address %>
      </p>
      <p>
        <b>Nombre envío:</b>
        <%= @charge.name %>
      </p>
      <p>
        <b>Telefono:</b>
        <%= @charge.phone_number %>
      </p>
      <p>
        <b>Servicio de envío:</b>
        <%= @charge.delivery_service %>
      </p>
    </div>
    <div class="card-panel row">
      <h3>Detalles del usuario</h3>
      <p>
        <b>Nombre:</b>
        <%= @charge.user.try(:name) %>
      </p>
      <p>
        <b>Email:</b>
        <%= @charge.user.try(:email) %>
      </p>
      
    </div>


     <div class="large-12 medium-12 small-12 center">
      <%= f.submit "actualizar", class: "btn expand" %>
     </div>



</section>
<% end %>


  

