<%= render 'shared/navigation' %>


<div class="white cart-container">
	<div class="container">
		<div class="row">

		<% if @cart.line_items.empty? %>
			<div class="center-align">
				<br><br>
				<br><br>
				<br><br>
				<br><br>

				<h5>Tu carrito de compras esta vacío :(</h5>
				<%= link_to 'atras', root_path %>
				<br><br>
				<br><br>
				<br><br>
				<br><br>

			</div>
		<% else %>
			<div class="col s12 border" >
				<%= form_tag update_multiple_line_items_path, method: :put do %>
					<div class="col s12" id="cart-tableee">
							<%= render 'cart_items' %>
					</div>
					<div class="col s9">
						<%= submit_tag 'actualizar precios', class: "btn" %>
						<br><br>

					</div>
				<% end %>
				<div class="col s3">
					<%= link_to 'vaciar carrito', @cart, method: :delete, data: {confirm: '¿Estas seguro?'}, class: "btn red" %>
				</div>


			</div>

			<div class="col s12 right-align border">
				<h5>peso total del paquete</h5>
				<p><%= @total_kg %>Kg</p>
				<h5>subtotal</h5>
				<p class="price2">
					$<%= @subtotal %>
				</p>
				<h5>costo de envío</h5>
				<p class="price2">$<%= @ship_price %>*</p>
				<h3>Total</h3>
				<p class="price">$<%= @total %> Mxn</p>
				<p>* El costo de envio se calcula de la siguiente manera: $<%= SHIP_PRICE %> pesos por cada <%= KG_PACKAGE %> Kg.</p>

			</div>


				<div class="col s12 l6 pay-r ">
						<div class="border hoverable">
							<h4>Pagar con tarjeta de crédito o débito</h4>
							<%= image_tag 'cards.png', size: "300x45" %>
							<br><br>

							<%= form_tag(credit_pay_path) do %>
								<%= select_tag(:pay_option, options_for_select([['Pago a una sola exhibición', 1], ['3 Meses sin intereses +4.9%', 2], ['6 Meses sin intereses +7.9%', 3]]), class: "browser-default" ) %>
								<br>
								<%= submit_tag 'ir a pagar', class: "btn" %>
							<% end %>

							<p>*Paga hasta 6 meses in intereses</p>
						</div>
				</div>
				<div class="col s12 l6 pay-r">
						<div class="border hoverable">
							<h4>Pago en efectivo</h4>
							<%= image_tag 'logo-oxxo.png', size: "100x50" %>
							<br><br>
							<br><br>
							<% if @total > 10000 %>
								<%= link_to 'ir a pagar', '#', class: "btn disabled" %>
								<p style="color:red;">La cantidad máxima permitida para pagos en oxxo es de 10,000 pesos mexicanos.</p>
							<% else %>
								<%= link_to 'ir a pagar', oxxo_path, class: "btn"%>
							<% end %>
							<p>Pagos inmediatos</p>
						</div>
				</div>

			<div class="col s12 center-align" style="margin:2rem 0">
				<a href="#">Ver bancos participantes para pago con tarjeta de débito</a>

			</div>
		<% end %>



		</div>
	</div>
</div>
