<%= render 'shared/navigation' %>

<div class="container">
<div class="row">
<% if @cart.line_items.empty? %>
		<div class="center-align">
			<br><br>
			<br><br>
			<br><br>
			<br><br>

			<h5>Tu carrito de compras esta vacío :(</h5>
			<%= link_to 'atras', root_path %>
			<br><br>
			<br><br>
			<br><br>
			<br><br>

		</div>
	<% else %>
		<%= render 'form', final_price: @total, url: charge_1_path %>
	<% end %>
	
</div>
</div>