<%= render 'admin/nav' %>

<div class="container-2">

  <h1 class="">Ventas</h1>

<div class="row">
  <%= search_form_for(@st, url: charges_path, html:{class: "search-form"}) do |f| %>
      <div class="s12">
        <%= f.search_field :conekta_id_or_user_email_cont, {placeholder: "email o sku...", class: "form-control"} %>
      </div>
      <div class="col s9">
     
        <%= f.button 'buscar', class: "btn" %>
      </div>
      <div class="col s3">
        <%= link_to 'reestablecer', charges_path, class: "btn amber" %>
      </div>
  <% end %>
</div>

  <table class="striped centered">
    <thead>
      <tr>
        <th>Usuario</th>
        <th><%= sort_link(@st, :conekta_status, 'estado del pago') %></th>
        <th><%= sort_link(@st, :payment_type, 'Tipo de pago') %></th>
        <th><%= sort_link(@st, :status, 'Status del envio') %></th>
        <th><%= sort_link(@st, :counter, 'Rastreo enviado?') %></th>
        <th colspan="">Cargo</th>
        <th><%= sort_link(@st, :stock_discounted, 'Descontado de stock?') %></th>

        <th>Sku</th>
        <th><%= sort_link(@st, :created_at, 'Fecha') %></th>

        <th colspan="3"></th>

      </tr>
    </thead>

    <tbody>
      <% @charges.each do |charge| %>
        <tr>
          <td><%= charge.user.email %></td>
          <td><%= charge.conekta_status %></td>
          <td><%= charge.payment_type.humanize %></td>
          <td><%= charge.status %></td>
          <% if charge.counter >= 1 %>
            <td>
              <i class="material-icons g">done</i>
            </td>
          <% else %>
            <td>
              NO
            </td>
          <% end %>
          <td>$ <%= charge.amount %></td>
          <% if charge.stock_discounted %>
            <td>
              <i class="material-icons g">done</i>
            </td>
          <% else %>
            <td>
              NO
            </td>
          <% end %>
          <td><%= charge.conekta_id %></td>
          <td><%= local_time(charge.created_at) %></td>
          <td><%= link_to 'Editar', edit_charge_path(charge) %></td>
         
          <% if current_user.is? :super %>
            <td><%= link_to 'Destroy', charge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>

  </table>
  <%= will_paginate @charges, page_links: true, class: "text-center will-paginate pagination" %>


</div>

