<%= render 'shared/navigation' %>


<div class="container center-align">

		<% if @charge.payment_type == "OXXO" %>
			<h2>Resumen de cargo mediante oxxo</h2><br><br>
			<%= image_tag 'logo-oxxo.png' %><br><br>
			<%= image_tag(@charge.payment_bar_url) %><br>
			<%= @charge.payment_barcode %><br><br><br>
		<% else %>
			<h2>Resumen de cargo</h2><br><br>
		<% end %>


		<p class="price"><b>Cargo: </b>$ <%= @charge.amount %>.00 MXN</p><br>
		<p><b>Nombre:</b> <%= @charge.name %></p>
		<p><b>Dirección completa:</b> <%= @charge.full_address %></p>
		<p><b>Colonia:</b> <%= @charge.colonia %></p>
		<p><b>Estado:</b> <%= @charge.state %></p>
		<p><b>Ciudad:</b> <%= @charge.city %></p>
		<p><b>Código postal:</b> <%= @charge.zip_code %></p>
		<p><b>Teléfono de contacto:</b> <%= @charge.phone_number %></p>
		<p><b>Servicio de envío:</b> FedEx</p>
		<p><b>Fecha de creación de cargo:</b> <%= local_time(@charge.created_at, '%b %e, %Y') %></p><br><br>

		<div>
			<h3>Código de referencia:</h3>
			<p><%= @charge.conekta_id %></p><br><br>
		</div>



		<% if @charge.payment_type == "OXXO" %>
			<p class="n">Imprime esta página y paga el cargo en tu oxxo más cercano</p>
			<p class="n">para imprimir la página en Windows sólo presiona "ctrl + p", en Mac OS sólo presiona "command + p" y guarda la hoja como pdf.</p>
			<br><br><br>
			<p class="n">En breve te enviaremos un correo con más información(checa tu carpeta de correo no deseado, puede que este ahí).</p>


		<% else %>
			<p class="n">En breve te enviaremos un correo con más información(checa tu carpeta de correo no deseado, puede que este ahí).</p>
		<% end %>


		<!-- <p><%= @charge.user.id %></p> -->


</div>