<%= render 'admin/nav' %>
<div class="container">
  <p>
    <strong>Name:</strong>
    <%= @charge.name %>
  </p>

  <p>
    <strong>Full address:</strong>
    <%= @charge.full_address %>
  </p>

  <p>
    <strong>Colonia:</strong>
    <%= @charge.colonia %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @charge.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= @charge.country %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @charge.state %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= @charge.zip_code %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= @charge.phone_number %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @charge.status %>
  </p>

  <p>
    <strong>Ship number:</strong>
    <%= @charge.ship_number %>
  </p>

  <p>
    <strong>Delivery service:</strong>
    <%= @charge.delivery_service %>
  </p>

  <p>
    <strong>Conekta:</strong>
    <%= @charge.conekta_id %>
  </p>

  <p>
    <strong>Livemode:</strong>
    <%= @charge.livemode %>
  </p>

  <p>
    <strong>Conekta status:</strong>
    <%= @charge.conekta_status %>
  </p>
  <p>
    <strong>Amount:</strong>
    <%= @charge.amount %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= @charge.currency %>
  </p>

  <p>
    <strong>Payment type:</strong>
    <%= @charge.payment_type %>
  </p>

  <p>
    <strong>Payment barcode:</strong>
    <%= @charge.payment_barcode %>
  </p>

  <p>
    <strong>Payment bar url:</strong>
    <%= @charge.payment_bar_url %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @charge.user %>
  </p>

  <p>
    <strong>Counter:</strong>
    <%= @charge.counter %>
  </p>

  <p>
    <strong>Stock discounted:</strong>
    <%= @charge.stock_discounted %>
  </p>

  <%= link_to 'Edit', edit_charge_path(@charge) %> |
  <%= link_to 'Back', charges_path %>
</div>

