<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <title><%= SITE_TITLE %></title>
  <meta name="description" content="<%= META_DESCRIPTION %>">
  <meta name="keywords" content="<%= META_KEYWORDS %>">
  <link rel="shortcut icon" href="<%= asset_path 'fav.ico' %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <%= csrf_meta_tags %>
</head>
<body class="<%= @body_class ? @body_class : 'default' %>">
  <script type="text/javascript">
    <% if notice %>
        Materialize.toast("<%= notice %>", 400);
    <% elsif alert %>
        Materialize.toast("<%= alert %>", 400);
    <% end %>
  </script>

	<%= render 'shared/analytics' %>



	<main id="main">
	  <%= yield %>
	</main>
</body>
</html>
